# Always perform LF normalization
*.dart            text
*.gradle          text
*.html            text
*.java            text
*.json            text
*.md              text
*.py              text
*.sh              text
*.txt             text
*.xml             text
*.yaml            text
